* {
padding: 0;
margin: 0;
font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f4f3f0;
}

/*--------------------------------------------------------*/
/*                            HEADER                      */
/*--------------------------------------------------------*/

.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #0A3D33;
}

.header-home-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
}

.header-icons-block {
    padding: 0 0 0 40px;
    display: flex;
    gap: 50px;
}

.fa-house,
.fa-lock,
.fa-facebook,
.fa-telegram,
.fa-viber,
.fa-whatsapp {
    font-size: 35px;
    cursor: pointer;
}

.header-icons-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f0;
    border-radius: 5px;
}

.fa-house{
    color: #c85108;
}

.fa-lock {
    color: #a20e0e;
}

.header-slogan-block {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-slogan-sign {
    font-size: 40px;
    color: #f4f3f0;
}

.header-contacts-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
}

.header-contacts-sign {
    font-size: 25px;
    font-weight: 600;
    color: #f4f3f0;
}

.header-contacts-icons-block {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.fa-facebook {
    color: #1877F2;
    width: 35px;
    display: flex;
    justify-content: center;
}

.fa-viber {
    color: #665CA7;
}

.fa-telegram {
    color: #31A8E0;
}
.fa-whatsapp {
    color: #2AB73F;
}

/*--------------------------------------------------------*/
/*                            MAIN                        */
/*--------------------------------------------------------*/

.main-body {
    height: 80%;
    display: flex;
    margin: 50px 0 0 0;
    gap: 50px;
    padding: 0 20px 0 20px;
    
}

.main-body-filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding:20px;
    height: 400px;
    width: 250px;
    position: sticky;
    top:50px;
    background-color: #0A3D33;
    align-items: center;
    border-radius: 10px;
}

.areas-select-filter,
.number-of-rooms-filter,
.type-of-building-filter,
.min-price-input,
.max-price-input {
    border: none;
    padding-left: 10px;
    width: 220px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f3f0;
    color: #0A3D33;
}

.min-price-input,
.max-price-input {
    width: 210px;
}

.filter-search-button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 0 0 15px;
}

.filter-search-button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #0A3D33;
    color: #f4f3f0;
    border: 2px solid #f4f3f0;
    border-radius: 5px;
}

.filter-search-button:hover {
    background-color:  #f4f3f0 ;
    color: #0A3D33;
}

.filter-search-button:active {
    background-color: #DC935B;
    color: #fff;
}


.main-body-cards-container {
    width: calc(100% - 250px);
    border: 5px solid #0A3D33;
    border-radius: 10px;
}


/*--------------------------------------------------------*/
/*                            FOOTER                      */
/*--------------------------------------------------------*/

.footer {
    height: 10%;    
}

